$myFont: Helvetica, sans-serif;
$myColor: red;
$myFontSize: 18px;
$myWidth: 680px;

body {
  font-family: $myFont;
  font-size: $myFontSize;
  color: $myColor;
}

#container {
  width: $myWidth;
}

* {
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;    
  background-color: white;
  padding: 25px;
  font-size: 25px;
}

/* Header */

header {
  display: flex;
  justify-content: space-between;
}

/* Dark toggle */
.dark-mode {
  background-color: black;
  color: #0099ff;
  border: 2px solid white;
  stroke: white;
  fill: white;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* Section 1 */

.section-1 {
  display: flex;
}

.score {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
}

.score__points {
  display: flex;
}

.question {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.question__box--img {
  padding: 1rem;
  font-size: 4rem;
}

.question__box--btn {
  padding: .5rem 1rem;
}

.answer {
  display: grid;
  grid: auto / auto auto auto auto ;
  /* display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  padding: 1rem; */
}
/* Button styling */

button {
  margin: 1rem;
  padding: 0 .5rem;
  border: 2px solid black;
  background-color: transparent;
  color: black;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: black;
  color: white;
}
.answer__btn {
  border-color: #04AA6D;
  color: black;      
}
.answer__btn:hover {
  background-color: #04AA6D;
  color: white;
}


@media only screen and (max-width: 500px) {
  .answer{
    grid: auto / auto auto;

  }

}