* {
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.score {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.score__points {
    display: flex;
}

.question {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.question__box--img {
    padding: 1rem;
}

.question__box--btn {
    padding: .5rem 1rem;
}

.answer {
    display: grid;
    grid: auto / auto auto auto;
    /* display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    padding: 1rem; */
}
/* Button styling */

button {
    margin: 1rem;
    padding: 0 .5rem;
}
#answer__btn {
    height: 100px;
}