#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.quiz-box {
  position: relative;
  background-color: transparent;
}

/* Modal  */
.none {
  display: none;
}

.modal {
  display: block; /* Hidden by default */
  position: absolute; /* Stay in place */
  z-index: 5; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */

  background-color: rgb(128, 128, 128, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: rgba(63, 63, 63);
  padding: 5rem;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 60%; /* Could be more or less, depending on screen size */
  font: 5rem;
}

.modal-question {
  text-align: center;
}

.modal-question--tiktik {
  font-size: 5rem;
}
.modal-question--letter {
  font-size: 2rem;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.question-text {
  font-size: 7rem;
}
.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.answer-list {
  list-style: none;
}
.answer-item {
  font-size: 2rem;
  margin: 0.5rem;
  padding: 1rem 1.25rem;
}

.result {
  font-size: 2rem;
}

.review-list {
  list-style: none;
  text-align: start;
}
