* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-image: url(../imgs/background.jpg);
  padding: 25px;
  font-size: 25px;
  font-family: Helvetica, sans-serif;
  font-size: 18px;
}

.container {
  background-color: rgb(252, 228, 197);
  padding: 25px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Dark toggle */
.dark-mode {
  background-color: rgb(19, 19, 19);
  color: #0099ff;
  border: 2px solid rgb(252, 228, 197);
  stroke: rgb(252, 228, 197);
  fill: rgb(252, 228, 197);
}

.correct {
  color: green;
}

.incorrect {
  color: red;
}

.svg {
  fill: red;
  stroke: red;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  /* Rounded sliders */
}
.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: rgb(252, 228, 197);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #0099ff;
}
input:focus + .slider {
  box-shadow: 0 0 1px #0099ff;
}
input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
  /* Hide default HTML checkbox */
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* Popup Modal */
.modal {
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: rgb(252, 228, 197);
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 60%; /* Could be more or less, depending on screen size */
}

.modal-question {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover, .close:focus {
  color: rgb(19, 19, 19);
  text-decoration: none;
  cursor: pointer;
}

.question__btn {
  background-color: rgb(252, 228, 197);
}

#container {
  width: 680px;
}

.modal-content {
  border-radius: 10px;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
}

/* Section 1 */
.section-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.score {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.score__points {
  display: flex;
}

.question {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.question__box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.question__box--img {
  padding: 1rem;
}

.question__box--btn {
  padding: 0.5rem 1rem;
}

.answer {
  display: grid;
  grid: auto/auto auto auto auto;
  /* display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    padding: 1rem; */
}

button {
  margin: 1rem;
  padding: 0 0.5rem;
  border: 2px solid black;
  background-color: transparent;
  color: black;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}
button:hover {
  background-color: black;
  color: white;
}

.answer__btn {
  border-color: rgb(19, 19, 19);
  color: rgb(19, 19, 19);
}
.answer__btn:hover {
  background-color: rgb(19, 19, 19);
  color: rgb(252, 228, 197);
}

@media only screen and (max-width: 560px) {
  .answer {
    grid: auto/auto auto;
  }
}

/*# sourceMappingURL=style.css.map */
